body {
  font-family: "RobotoRegular";
  background-color: #ffffff;
  font-size: 15px; }

.container {
  width: 1000px;
  margin: 0 auto; }

button,
.button-style {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  border: none;
  outline: none;
  margin: 0;
  padding: 10px 20px;
  font-family: "RobotoBold";
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #b02e34;
  cursor: pointer; }
  button:hover,
  .button-style:hover {
    background-color: #8a090e; }

button.yellow {
  background-color: #FFC000; }
  button.yellow:hover {
    background-color: #DDA000; }

.visible {
  display: block; }

.button-style {
  display: block; }

.header-logos-block {
  margin-bottom: 25px; }

.gm-logo {
  position: relative; }
  .gm-logo .official-dealer {
    position: absolute;
    bottom: -20px;
    text-transform: uppercase;
    font-size: 12px;
    color: #004AB7; }

.header-logos {
  display: inline-block; }
  .header-logos a {
    display: inline-block;
    height: 85px;
    margin-right: 25px; }
    .header-logos a img {
      height: 85px; }

.header-phones {
  float: right; }
  .header-phones a {
    display: block;
    font-size: 1.8em;
    font-family: "RobotoBold"; }
    .header-phones a:nth-child(1) {
      color: #2D3096; }
    .header-phones a:nth-child(2) {
      color: #b02e34; }
  .header-phones span {
    font-size: 0.6em;
    text-transform: uppercase; }

.header-nav {
  background-color: #EBEBEB; }

nav ul {
  display: table;
  list-style: none;
  margin: 0 auto;
  width: 80%; }
  nav ul li {
    display: table-cell; }
    nav ul li a {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      font-family: "RobotoBold";
      color: #333;
      padding: 15px 20px; }
      nav ul li a:hover {
        background-color: #454545;
        color: #fff; }

.content-page-1 {
  padding-bottom: 30px; }
.content-page-2 {
  background-color: #ffffff; }
.content-page-3 {
  background-color: #ffffff; }
.content-page-4 {
  background-color: #ffffff; }
.content-page h2 {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase; }

.main-photo-block {
  position: relative; }
  .main-photo-block .main-photo-image {
    margin-bottom: 30px; }
    .main-photo-block .main-photo-image img {
      width: 100%; }
  .main-photo-block .main-photo-text {
    position: absolute;
    display: inline-block;
    left: 20px;
    top: 40px; }
    .main-photo-block .main-photo-text .text-block {
      font-family: "RobotoBold";
      padding: 15px;
      font-size: 2.2em;
      text-transform: uppercase;
      color: #EBEBEB;
      background-color: rgba(69, 69, 69, 0.4);
      margin-bottom: 15px; }
      .main-photo-block .main-photo-text .text-block.yellow {
        background-color: rgba(255, 192, 0, 0.7); }

.main-photo-block.credit .main-photo-image {
  margin-bottom: 10px; }
  .main-photo-block.credit .main-photo-image img {
    display: block;
    width: 90%;
    margin: 0 auto; }
.main-photo-block.credit .main-photo-text {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-bottom: 30px; }
  .main-photo-block.credit .main-photo-text .text-block {
    font-size: 1.5em;
    padding: 15px; }
.main-photo-block.credit button.yellow {
  position: absolute;
  right: 30px;
  bottom: 45px; }

.main-photo-block.util .main-photo-text {
  top: 60%; }
  .main-photo-block.util .main-photo-text .text-block {
    font-size: 1.5em; }

.contacts-block {
  text-align: center;
  font-size: 1.5em;
  font-family: "RobotoBold";
  margin-bottom: 30px; }

.main-agvantages-block {
  margin-bottom: 30px; }

.advantage {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 6%; }
  .advantage:last-child {
    margin-right: 0; }
  .advantage .advantage-img {
    width: 100%; }
    .advantage .advantage-img img {
      width: 100%;
      height: 200px;
      border-radius: 50%;
      border: 3px solid rgba(69, 69, 69, 0.4);
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .advantage .advantage-img .no-border {
      border: none; }
  .advantage .advantage-text {
    color: #ffffff;
    background-color: #454545;
    text-align: center; }
    .advantage .advantage-text h3 {
      display: inline-block;
      position: relative;
      padding-left: 10px;
      margin: 10px auto;
      font-size: 1.5em; }
      .advantage .advantage-text h3:before {
        content: "";
        display: block;
        position: absolute;
        width: 3px;
        left: 0;
        height: 100%;
        background-color: #b02e34; }
    .advantage .advantage-text span {
      display: block;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 15px;
      padding-bottom: 15px; }
  .advantage button {
    width: 100%; }

.car-item {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 31%;
  margin-right: 3%;
  margin-bottom: 25px;
  text-align: center;
  padding: 15px;
  background-color: #EBEBEB;
  border: 3px solid #454545; }
  .car-item:nth-child(3n) {
    margin-right: 0; }
  .car-item .item-img {
    width: 100%; }
    .car-item .item-img img {
      width: 100%; }
  .car-item h4 {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px; }
  .car-item span {
    display: block;
    font-size: 1.2em;
    margin-bottom: 15px; }
  .car-item button,
  .car-item .button-style {
    width: 100%;
    margin-bottom: 15px;
    font-size: 13px; }

.b-popup {
  height: 2000px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  text-align: center; }

.b-popup.active {
  display: block; }

.b-popup-content {
  display: inline-block;
  margin: 40px auto; }

.popup-form {
  width: 400px;
  min-height: 400px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #000;
  display: none; }
  .popup-form.visible {
    display: block; }
  .popup-form form {
    padding: 20px; }
  .popup-form label {
    text-transform: uppercase;
    font-family: "RobotoBold";
    display: block;
    margin-bottom: 15px;
    font-size: 1.2em; }
  .popup-form input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 2em;
    margin-bottom: 15px; }
  .popup-form button {
    width: 100%;
    padding: 15px;
    font-size: 1.5em; }
  .popup-form .close-cross {
    padding-bottom: 15px;
    margin-bottom: 15px; }

.close-cross {
  display: block;
  text-decoration: underline;
  text-align: right !important;
  padding-right: 15px; }
  .close-cross span {
    cursor: pointer; }

.popup-header .text {
  color: #ffffff;
  background-color: #454545;
  text-align: center; }
  .popup-header .text h3 {
    display: inline-block;
    position: relative;
    padding-left: 15px;
    margin: 10px;
    text-align: left;
    font-size: 1.5em; }
    .popup-header .text h3:before {
      content: "";
      display: block;
      position: absolute;
      width: 3px;
      left: 0;
      height: 100%;
      background-color: #b02e34; }
  .popup-header .text .description {
    display: block;
    text-align: left;
    text-transform: uppercase;
    margin-left: 20px;
    margin-bottom: 15px;
    padding-bottom: 15px; }
    .popup-header .text .description ul {
      margin-left: 5px;
      padding-left: 15px; }

.popup-announce {
  text-align: center;
  font-family: "RobotoBold"; }

.popup-info {
  display: none;
  text-align: left;
  max-width: 1000px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
  background-color: #ffffff; }
  .popup-info pre {
    font-family: "RobotoRegular";
    word-wrap: break-word; }
  .popup-info.visible {
    display: block; }
  .popup-info .innovations,
  .popup-info .equipment,
  .popup-info .exterior,
  .popup-info .construction {
    display: none; }
    .popup-info .innovations.visible,
    .popup-info .equipment.visible,
    .popup-info .exterior.visible,
    .popup-info .construction.visible {
      display: block; }

.l,
.lc,
.gl,
.gls,
.glc,
.le,
.leplus {
  display: none; }
  .l.visible,
  .lc.visible,
  .gl.visible,
  .gls.visible,
  .glc.visible,
  .le.visible,
  .leplus.visible {
    display: block; }

/*# sourceMappingURL=application.css.map */
