body {
  font-family: $font-regular;
  background-color: #ffffff;
  font-size: 15px;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

button,
.button-style {
  @include btn;
}

button.yellow {
  background-color: $main-yellow;
  &:hover {
    background-color: $main-yellow-dark;
  }
}

.visible {
  display: block;
}

.button-style {
  display: block;
}