$font-regular: "RobotoRegular";
$font-light: "RobotoLight";
$font-medium: "RobotoMedium";
$font-bold: "RobotoBold";

$ligth-grey: #EBEBEB;
$dark-grey: #454545;
$opacity-dark-grey: rgba(69, 69, 69, 0.4);
$main-blue: #2D3096;
$main-red: #b02e34;
$main-red-dark: #8a090e;
$main-yellow: #FFC000;
$main-yellow-dark: #DDA000;

@mixin btn($color: $main-red) {
  @include box-sizing;
  color: #fff;
  border: none;
  outline: none;
  margin: 0;
  padding: 10px 20px;
  font-family: $font-bold;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $color;
  cursor: pointer;
  &:hover {
    background-color: $main-red-dark;
  }
}


@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}